*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Georgia', sans-serif;
    color: #fff;
    background:url('asset/first.jpg') center/cover no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    background-position: center;
}
.container{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.sidebar{
    color: white;
    text-decoration: none;
}
.sidebar ul{
    list-style: none;
    line-height: 2.5rem;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.menu li a{
    color: white;
    text-decoration: none;
    font-size: 3.5rem;
}

.sidebar ul li a{
    /* color: white; */
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s none;
    padding: 10px 0;
    display: block;
}
.sidebar ul li a:hover{
    color: #e8e023;
}
.sidebar .active{
    color: #e8e023;
}
.menu > .drop-down > a{
    color: #e8e023;
}
.submenu{
    margin-left: 20px;
    margin-top: 8px;
    list-style: none;
}
.submenu li a{
    font-size: 1rem;
    color: white;
    text-decoration: none;
}
.submenu li a:hover{
    color: #e8e023;
}
/* contact info */
.contact-info{
    text-align: right;
    border-left: 2px solid rgba(255, 255, 255, 0.4);
    padding-left: 30px;
    margin-top: 180px;
}
.contact-info h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
    border-bottom: 2px dotted #fff;
    padding-bottom: 5px;
}
.contact-info p{
    margin-bottom: 10px;
    font-size: 1rem;
    color: white;
}
.contact-info a{
    color: white;
    text-decoration: none;
}
.contact-info a:hover{
    color: #e8e023;
}
/* social icon */
.social-icons{
    margin-top: 15px;
    display: flex;
    gap: 25px;
}
.social-icons img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    filter: invert(1);
    opacity: 0.8;
    transition: 0.3s ease;
}
.social-icons img:hover{
    opacity: 1;
    transform: scale(1.1);
}
/* responsiveness */
@media (max-width: 768px){
    body{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .container{
        flex-direction: column;
        text-align: center;
    }
    .contact-info{
        border: none;
        margin-top: 40px;
        text-align: center;
    }
    .sidebar ul li a{
        font-size: 1.5rem;
    }
}
